In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./dataset/movie_data.csv')

df.head()

,cast,genres,movie_id,original_title,plot
0,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","['Action', 'Adventure', 'Fantasy']",19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,"['Johnny Depp', 'Orlando Bloom', 'Keira Knight...","['Adventure', 'Fantasy', 'Action']",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,"['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...","['Action', 'Adventure', 'Crime']",206647,Spectre,A cryptic message from Bond’s past sends him o...
3,"['Christian Bale', 'Michael Caine', 'Gary Oldm...","['Action', 'Crime', 'Drama']",49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,"['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...","['Action', 'Adventure', 'Science Fiction']",49529,John Carter,"John Carter is a war-weary, former military ca..."

In [9]:
df.loc[df['original_title'] == 'Star Wars']

,cast,genres,movie_id,original_title,plot
2912,"['Mark Hamill', 'Harrison Ford', 'Carrie Fisher']","['Adventure', 'Action', 'Science Fiction']",11,Star Wars,Princess Leia is captured and held hostage by ...

In [11]:
df['movie_id'].unique

<bound method Series.unique of 0        19995
1          285
2       206647
3        49026
4        49529
         ...
6472    263115
6473    284052
6474    117691
6475    126400
6476    353081
Name: movie_id, Length: 6477, dtype: object>

In [12]:
if '11' not in df['movie_id'].unique():
    print('Movie not in Database')

else:
    print('Movie found!')

Movie not in Database